@* Footer DSGOV *@

<footer class="br-footer" id="footer">
    <div class="container-lg">
        <div class="govbr-logo govbr-logo--footer">
            <span class="govbr-text">gov<span class="govbr-dot">.</span>br</span>
        </div>
        <ul class="br-list horizontal">
            <li class="br-item"><a href="#">Acessibilidade</a></li>
            <li class="br-item"><a href="#">Mapa do site</a></li>
            <li class="br-item"><a href="#">Termos de uso</a></li>
            <li class="br-item"><a href="#">Ouvidoria</a></li>
        </ul>
        <div class="br-footer-info">
            Ministério de Minas e Energia · Agência Nacional de Mineração — ANM<br />
            © @DateTime.Now.Year ANM — Todos os direitos reservados
        </div>
    </div>
</footer>
